.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 
    text-align: center;
    margin-top: auto;
    gap: 50px;
}

button {
    background-color: #007BFF;
    width: 100px;
    height: 35px;
    border: 2px solid #0056b3;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
    
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.box {
    width: 270px; /* Ensure a consistent width */
    height: auto;
    border: 2px solid #D1A26B;
    background-color: #FFFAF0;
    border-radius: 8px;
    padding: 15px;
    transition: box-shadow 0.3s;
}

.box:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #4B0082;
}

input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #F8F8FF;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #007BFF;
    outline: none;
}
